<p id="notice"><%= notice %></p>

<p>
  <strong>Drone1:</strong>
  <%= @product.Drone1 %>
</p>

<p>
  <strong>Drone2:</strong>
  <%= @product.Drone2 %>
</p>

<p>
  <strong>Drone3:</strong>
  <%= @product.Drone3 %>
</p>

<p>
  <strong>Drone4:</strong>
  <%= @product.Drone4 %>
</p>

<p>
  <strong>Drone5:</strong>
  <%= @product.Drone5 %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
